@model N01490200_Cumulative3_Winter2022_Mahshad.Models.Teacher
@{
    ViewBag.Title = "update";
}

<nav>
    <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
</nav>

<h2>Update</h2>

<form method="POST" action="/Teacher/Update/@Model.TeacherId" onsubmit="ValidateForm();">
    <div class="TeacherFinput">
        <label for="teacherfname">First Name:</label>
        <input type="text" id="teacherfname" name="teacherfname" value="@Model.TeacherFname" />
        <p id="FnErrorMsg"></p>
    </div>
    <div class="TeacherLinput">
        <label for="teacherlname">Last Name:</label>
        <input type="text" id="teacherlname" name="teacherlname" value="@Model.TeacherLname" />
        <p id="LnErrorMsg"></p>
    </div>
    <div class="TeacherEinput">
        <label for="employeenumber">Employee Number:</label>
        <input type="text" id="employeenumber" name="employeenumber" value="@Model.EmployeeNumber" />
        <p id="EnErrorMsg"></p>
    </div>
    <div class="TeacherSinput">
        <label for="salary"> Desired Salary:</label>
        <input type="text" id="salary" name="salary" value="@Model.Salary" />
        <p id="SnErrorMsg"></p>
    </div>
    <div class="TeacherHinput">
        <label for="hiredate">Hire Date:</label>
        <input type="date" id="hiredate" name="hiredate" value="@Model.HireDate" />
    </div>

    <div>
        <button type="submit">Update Teacher</button>
    </div>
</form>


<script>
    function ValidateForm() {
        //Variable for the form
        var firstName = document.getElementById("teacherfname").value;
        var lastName = document.getElementById("teacherlname").value;
        var employeeRGEX = /^[N|n]\d{8}$/;
        var userId = document.getElementById("employeenumber");
        var salaryIn = document.getElementById("salary").value;
        //Variable for output message
        var FnOut = document.getElementById("FnErrorMsg");
        var LnOut = document.getElementById("LnErrorMsg");
        var EmOut = document.getElementById("EnErrorMsg");
        var SaOut = document.getElementById("SnErrorMsg");
        // Validating and preventing form submit after each click
        if (firstName == "" | firstName == null) {
            userFinput = document.getElementById("teacherfname");
            userFinput.style.background = "red";
            FnOut.innerHTML = "Enter your First name.";
            event.preventDefault();
        } else if (lastName == "" | lastName == null) {
            userLinput = document.getElementById("teacherlname");
            userLinput.style.background = "red";
            LnOut.innerHTML = "Enter your Last name.";
            event.preventDefault();
        } else if (!employeeRGEX.test(userId.value)) {
            userId.style.background = "red";
            EmOut.innerHTML = "Start with Letter N and follow by 8 random numbers"
            event.preventDefault();
        } else if (salaryIn == "" | salaryIn == null | salaryIn == isNaN) {
            SaOut.innerHTML = "Enter your desired salary";
            event.preventDefault();
        }
        else {
            return true;
        }
    }
</script>

